@import "settings";
// @import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-image: url('../images/bg-photo.jpg');
	background-position: center center;
	background-size: cover;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top: -36px;
	z-index: 100;
}

.message {
	position: absolute;
	bottom: 20%;
	width: 100%;
	z-index: 100;
	font-size: 24px;
	color: #AAA;
	font-weight: 300;
	p {
		line-height: 0.5em;
	}
	strong {
		color: white;
		font-weight: 400;
	}
}

.signature {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 14px;
	z-index: 100;
	color: #AAA;
	.fa {
		color: #FF3B30;
	}
}

.overlay {
	position: fixed;
	opacity: 0.6;
	background-color: rgba(0,0,0,0.9);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#video_background {
	position: fixed;
	top: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
	overflow: hidden;
	background-image: url('../images/bg-photo.jpg');
	background-position: center center;
	background-size: cover;
	z-index: 1;
}

@media (max-width:768px){
	body, #video_backgroun {
		background-image: url('../images/bg-photo-mobile.jpg');
	}

	.message p {
		line-height: 1em;
		margin: 0;
		margin-bottom: 5px;
	}

	#video_background {
		display: none;
	}
}
